@font-face {
	src: url('../../../../../assets/Montserrat-VariableFont_wght.ttf');
	font-family: 'Montserrat';
}

@font-face {
	src: url('../../../../../assets/Lato-Regular.ttf');
	font-family: 'Lato';
}
.content-wrapper{
	padding: 0px 25px 20px ;
}
.image-wrapper{
	width: 180px;
	height: 185.5px;
}

.container-person{
	background-color: black;
	display: flex;
	padding-left: 40px;
	margin-bottom: 110px;	
}

.title-person{
	font-family: 'Lato';
	color: white;
	font-weight: 700px;
	margin: 50px 0px 0px ;
	width: 880px;
	font-size: 18px;
}

.paragraph-person{
	font-family: 'Lato';
	color: white;
	margin: 10px 0px 0px ;
	width: 880px;
	font-size: 14px;
	// height: 72px;
}

@media screen and (max-width: 364px){
	
	.container-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		padding-left: 0px;
		
		}
	.content-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	
	}
	.image-wrapper{
        margin-top: 20px;
		width: 130px;
	    height: 130px;
	}

	.title-person{
	   display: flex;
	   flex-direction: column;
	   align-items: center;
       text-align: center;
	   width: 90%;
	   margin-top: 20px;
	   font-size: 13px;
	}
	.paragraph-person{
	   display: flex;
	   flex-direction: column;
	   align-items: center;
	   text-align: center;
	   width: 90%;
	   font-size: 12px;
	   padding: 5px;
	}
	

}


@media screen and (min-width: 365px) and (max-width: 480px){

	.container-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		padding-left: 0px;
		
		}

    .content-wrapper{
	   display: flex;
	   flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.image-wrapper{
        margin-top: 20px;
		width: 150px;
	    height: 150px;
	}
		
	.title-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 90%;
		margin-top: 20px;
		font-size: 13px;
	 }

	 .paragraph-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 95%;
		font-size: 12px;
		padding: 5px;
	 }
	 

}

@media screen and (min-width: 481px) and (max-width: 600px){

	.container-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		padding-left: 0px;
		
		}

    .content-wrapper{
	   display: flex;
	   flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.image-wrapper{
        margin-top: 20px;
		width: 150px;
	    height: 150px;
	}
		
	.title-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		margin-top: 20px;
		font-size: 14px;
	 }

	 .paragraph-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 95%;
		font-size: 14px;
		padding: 5px;
	 }
	 
}


@media screen and (min-width: 601px) and (max-width: 1024px){
	.container-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		padding-left: 0px;
		
		}

    .content-wrapper{
	   display: flex;
	   flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.image-wrapper{
        margin-top: 20px;
		width: 160px;
	    height: 160px;
	}
		
	.title-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		margin-top: 20px;
		font-size: 14px;
	 }

	 .paragraph-person{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 95%;
		font-size: 14px;
		padding: 5px;
	 }
}

