@font-face {
	src: url('../../../../../assets/Montserrat-VariableFont_wght.ttf');
	font-family: 'Montserrat-VariableFont_wght';
}

@font-face {
	src: url('../../../../../assets/Jura-Regular.ttf');
	font-family: 'Jura-Regular';
}

@font-face {
	src: url('../../../../../assets/Lato-Regular.ttf');
	font-family: 'Lato-Regular';
}


.container-event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    background-color: black;
	color: white;
	margin-bottom: 30px;
	width: 100%;
	
}
	



.title-event{
	text-align: center;
	font-size: 56px;
	font-weight: 600;
	font-family: 'Montserrat-VariableFont_wght';
	padding: 25px;
	background: linear-gradient(90deg, #a9a3db 5%,#ad00ed 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 52px;
    letter-spacing: -.5px;
  }

  .paragraph-event{
	align-items: center;
	width: 1150px;
	font-weight: 300;
	font-family: 'Montserrat-VariableFont_wght';
	font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
	text-align: center;
  }

  .image-event{
	margin-top: 50px;
  }

  .button-event {
    margin-top: 1rem;
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #353535 !important;
    border-color: #455465!important;
	cursor: pointer;
	height: 38px;
	width: 158px;
	
  }

  .button-Subscrib{
	order: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 12px;
    text-align: center;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
	border-color: rgba(130, 36, 227, 1);
	color: #fff !important;
    background: #141414 !important;
	box-sizing: border-box;
	-webkit-appearance: button;
	font-family: 'Jura-Regular';
	touch-action: manipulation;
	text-transform: none;
	overflow: visible;
	height: 38px;
	width: 158px;
  }

  .direction-button{
	// display: flex;
	gap: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
  }

.risk-section{
	text-align: left;
	font-size: 12px;
	padding-left: 120px;
	padding-right: 120px;
	color: #fff !important;
    background-color: black !important;
    border-color: #455465!important;
	font-family: 'Lato-Regular';
	font-weight: 400;
    line-height: 24px;
	margin-top: 40px;
}

@media screen and (max-width: 364px){
	.container-event{
     display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 padding: 5px;
	}	
    .title-event{
    font-size: 46px;
	width: 100%;
	}

	.paragraph-event{
        font-size: 15px;
        line-height: 25px;
		width: 100%;
	}

	.image-event{
    display: none;
	}

	.risk-section{
	 text-align: center;
	 width: 100%;
	 font-size: 12px;
	 color: #fff !important;
	 font-weight: 300;
	 line-height: 22px;
	 margin-top: 15px;
	 padding-left: 0px;
	padding-right: 0px;
	}

}


@media screen and (min-width: 365px) and (max-width: 480px){
	.container-event{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px;
	   }	
	   .title-event{
	   font-size: 48px;
	   width: 100%;
	   }
   
	   .paragraph-event{
		   font-size: 16px;
		   line-height: 25px;
		   width: 100%;
	   }
   
	   .image-event{
	   display: none;
	   }
   
	   .risk-section{
		text-align: center;
		width: 100%;
		font-size: 14px;
		color: #fff !important;
		font-weight: 300;
		line-height: 23px;
		margin-top: 15px;
		padding-left: 0px;
	   padding-right: 0px;
	   }
}


@media screen and (min-width: 481px) and (max-width: 600px){
	
	.container-event{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px;
	   }	
	   .title-event{
	   font-size: 48px;
	   width: 100%;
	   }
   
	   .paragraph-event{
		   font-size: 16px;
		   line-height: 25px;
		   width: 100%;
	   }
   
	   .image-event{
	   display: none;
	   }
   
	   .risk-section{
		text-align: center;
		width: 100%;
		font-size: 14px;
		color: #fff !important;
		font-weight: 300;
		line-height: 23px;
		margin-top: 15px;
		padding-left: 0px;
	   padding-right: 0px;
	   }
}

@media screen and (min-width: 601px) and (max-width: 800px){
	
	.container-event{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px;
	   }	
	   .title-event{
	   font-size: 48px;
	   width: 100%;
	   }
   
	   .paragraph-event{
		   font-size: 16px;
		   line-height: 25px;
		   width: 100%;
	   }
   
	   .image-event{
	   display: flex;
	   justify-content: center; 
	   width: 550px;

	   }
   
	   .risk-section{
		text-align: center;
		width: 100%;
		font-size: 14px;
		color: #fff !important;
		font-weight: 300;
		line-height: 23px;
		margin-top: 15px;
		padding-left: 0px;
	   padding-right: 0px;
	   }
}

@media screen and (min-width: 801px) and (max-width: 999px){
	

	.container-event{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px;
	   }	
	   .title-event{
	   font-size: 52px;
	   width: 100%;
	   }
   
	   .paragraph-event{
		   font-size: 24px;
		   line-height: 25px;
		   width: 100%;
	   }
   
	   .image-event{
	   display: flex;
	   justify-content: center; 
	   width: 650px;

	   }
   
	   .risk-section{
		text-align: center;
		width: 100%;
		font-size: 16px;
		color: #fff !important;
		font-weight: 300;
		line-height: 23px;
		margin-top: 15px;
		padding-left: 0px;
	   padding-right: 0px;
	   }



}

@media screen and (min-width: 1000px) and (max-width: 1440px){
	

	.container-event{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px;
	   }	
	   .title-event{
	   font-size: 52px;
	   width: 100%;
	   }
   
	   .paragraph-event{
		   font-size: 24px;
		   line-height: 25px;
		   width: 80%;
		
	   }
   
	   .image-event{
	   display: flex;
	   justify-content: center; 
	   width: 650px;

	   }
   
	   .risk-section{
		text-align: center;
		width: 100%;
		font-size: 16px;
		color: #fff !important;
		font-weight: 300;
		line-height: 23px;
		margin-top: 15px;
		padding-left: 0px;
	   padding-right: 0px;
	   }



}




