.headerts{
	background-image: url('../../../../../assets/jolders.jpeg');
	height: 80vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}

.maints{
	display: grid;
	grid-template-columns:2fr 2fr;
    width: 100%;
    place-items: center;//centar hacia los dos sentidos !
	gap: 20px;
	height: calc(100% - 125px);
}

.fonts{
	font-family: var(--font-family);
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2;
	color: #333;
	text-align: center;
	width: 450px; 
	margin-top: 1px;
	&:after {
	content: "\1F60E\1F984";
	}
	
  }
  @media screen and (max-width: 364px){

    .maints {
		display: flex;
		justify-content: center;
		text-align: center;
		gap: 5px;
	
	}	
	.fonts {
		margin-top: 20px;
		width: 270px;
		font-size: 18px;
		 
		}


	.maints img {
		display: none;
		}
  }

  @media screen and (min-width: 365px) and (max-width: 480px){
	// .headerts {
	// 	display: none;
	// 	}
		
	.maints {
		display: flex;
		justify-content: center;
		text-align: center;
		gap: 5px;
	
	}	
	.fonts {
		margin-top: 20px;
		width: 300px;
		font-size: 20px;
		 
		}


	.maints img {
		display: none;
		}
	  }
	

	  @media screen and (min-width: 481px) and (max-width: 600px){
    	.maints {
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 5px;
			}
			
			.fonts {
			margin-top: 20px;
			width: 300px;
			font-size: 20px;
			 
		    }

			.maints img {
				display: none;
			}

		}

	  @media screen and (min-width: 601px) and (max-width: 800px){

			.maints {
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 5px;
			}
			
			.fonts {
			margin-top: 20px;
			width: 300px;
			font-size: 20px;
			 
		    }

			.maints img {
				display: none;
			}
		
	  }
	  @media screen and (min-width: 801px) and (max-width: 999px){
			
			.maints {
			 gap: 5px;
			
			}
			
			.fonts {
			width: 320px;
			font-size: 22px; 
			}
	
  }



















  
//   @media screen and (max-width: 480px){
// 	.main img {
// 	  width: 100px;
// 	  height: 100px;
// 	}
	
// 	.font {
// 	  font-size: 0.8rem;
// 	}
//   }

//   @media screen and (max-width: 800px){
// 	.menuBarjolders {
// 	  flex-direction: column;
// 	  align-items: center;
// 	  justify-content: space-between;
// 	  padding: 10px;
// 	}
	
// 	.logoMenuBarjolders {
// 	  margin-bottom: 10px;
// 	}
	
// 	.optionsMenuBarjolders {
// 	  display: flex;
// 	  flex-direction: column;
// 	  align-items: center;
// 	}
	
// 	.optionsMenuBarjolders a {
// 	  font-size: 0.8rem;
// 	}
//   }
