
@font-face {
	src: url('../../../../../assets/Lato-Regular.ttf');
	font-family: 'Lato';
  }

.footer {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	padding: 50px;
  margin-bottom: 40px;
  width: 100%;
  
  }
  
  .footer__logo img {
    align-items: center;
    text-align: center;
  }

  .center-logo{
    align-items: center;
    text-align: center;
    margin-left: 0px;
   
  }
  
  .footer__menus {
	display: flex;
	margin-left: 0px;
	font-family: 'Lato';
  gap: 15px;
  width: 100%;

	
  }
  
  .footer__menu {
	margin-left: 30px;
  }
  
  .footer__menu-title {
	font-size: 1.2rem;
	margin-bottom: 10px;
  }
  
  .footer__menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
	transition: background-color 0s ease;
	transition: background-color 0s ease;
	font-weight: 400;
  line-height: 24px;
	font-size: 14px;
  }
  
  .footer__menu-items li {
	margin-bottom: 5px;
  }
  
  .footer__menu-items a {
	text-decoration: none;
	color: #d19fe8;
	font-size: 1rem;
  }
  
  .footer__menu-items a:hover {
	color: white;
  }
  .footer-paragraph{
	width: 350px;
	font-family: "Lato";
	margin-left: 38px;
  }

  .footer__input{
	border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 12px;
    color: #ccc;
    font-weight: 300;
    display: inline-block;
	  margin-left: 90px;
	  text-align: center;
	  margin-top: 20px;
	  background: #353535 !important;
    border-color: #455465!important;
    color: #fff !important;
  }

  .botton-submit{
	  transition: .3s;
    height: 40px;
	  width: 48px;
    cursor: pointer;
	  border: none;
    padding: 16px 0px;
    margin-left: 0px;
    border-radius: 0 3px 3px 0;
	  background-color:#141414 ;
  }

  .icon-redes{
    display: flex;
    gap: 20px; 
    margin-top: 40px;
    margin-left: 450px;
  }
 

  @media screen and (max-width: 364px){
   
   
    .footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0px;
     margin-bottom: 0px;
     

    }
    .footer__logo img {
    text-align: center;
    align-items: center;
    width: 100%;
  

    }
    // .Logo_jolders{
    //   display: flex;
    //   align-items: center;
    //   text-align: center;
    //   margin: 0px;
    //   margin-left: 0px;
    // }

    .footer-paragraph{
     display: flex;
     text-align: center;
     margin: 0px;
     width: 100%;
     margin-left: 0px;
    }

    .footer__menus{
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin-left: 0px;
      align-items: center;
      width: 100%;
      gap: 30px;
      
    }

    .footer__menu{
    margin-left: 0px;

    }

    .footer__menu-title{
    width: 100%;
    }
   
    .icon-redes{
      margin-left: 0px;
    }

    .center-logo{
      margin-left: 0px;
      margin: 0px;
    }
  }
  
  
  @media screen and (min-width: 365px) and (max-width: 480px){
    
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px;
      
 
     }
     .footer__logo img {
     text-align: center;
     align-items: center;
     width: 100%;
   
 
     }
     // .Logo_jolders{
     //   display: flex;
     //   align-items: center;
     //   text-align: center;
     //   margin: 0px;
     //   margin-left: 0px;
     // }
 
     .footer-paragraph{
      display: flex;
      text-align: center;
      margin: 0px;
      width: 100%;
      margin-left: 0px;
     }
 
     .footer__menus{
       display: flex;
       text-align: center;
       justify-content: center;
       flex-direction: column;
       margin-left: 0px;
       align-items: center;
       width: 100%;
       gap: 30px;
       
     }
 
     .footer__menu{
     margin-left: 0px;
 
     }
 
     .footer__menu-title{
     width: 100%;
     }
    
     .icon-redes{
       margin-left: 0px;
     }
 
     .center-logo{
       margin-left: 0px;
       margin: 0px;
     }

  }
  
  
  @media screen and (min-width: 481px) and (max-width: 600px){
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px;
      
 
     }
     .footer__logo img {
     text-align: center;
     align-items: center;
     width: 100%;
   
 
     }
     // .Logo_jolders{
     //   display: flex;
     //   align-items: center;
     //   text-align: center;
     //   margin: 0px;
     //   margin-left: 0px;
     // }
 
     .footer-paragraph{
      display: flex;
      text-align: center;
      margin: 0px;
      width: 100%;
      margin-left: 0px;
     }
 
     .footer__menus{
       display: flex;
       text-align: center;
       justify-content: center;
       flex-direction: column;
       display: grid;
       grid-template-columns: repeat(2, 1fr); // Dos columnas del mismo tamaño
       margin-top: 20px;
       margin-left: 0px;
       align-items: center;
       width: 100%;
       gap: 30px;
       align-items: self-start;
       
     }
 
     .footer__menu{
     margin-left: 0px;
 
     }
 
     .footer__menu-title{
     width: 100%;
     }
    
     .icon-redes{
      display: flex;
      justify-content: center; 
      margin-left: 0px;
      align-items: center;

     }
 
     .center-logo{
       margin-left: 0px;
       margin: 0px;
     }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1164px){
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px;
      
 
     }
     .footer__logo img {
     text-align: center;
     align-items: center;
     width: 100%;
   
 
     }
     // .Logo_jolders{
     //   display: flex;
     //   align-items: center;
     //   text-align: center;
     //   margin: 0px;
     //   margin-left: 0px;
     // }
 
     .footer-paragraph{
      display: flex;
      text-align: center;
      margin: 0px;
      width: 100%;
      margin-left: 0px;
     }
 
     .footer__menus{
       display: flex;
       text-align: center;
       justify-content: center;
       flex-direction: column;
       display: grid;
       grid-template-columns: repeat(2, 1fr); // Dos columnas del mismo tamaño
       gap: 100px; 
       margin-top: 20px;
       margin-left: 0px;
       align-items: center;
       width: 100%;
      
       
     }
 
     .footer__menu{
     margin-left: 0px;
 
     }
 
     .footer__menu-title{
     width: 100%;
     }
    
     .icon-redes{
      display: flex;
      justify-content: center; 
      margin-left: 0px;
      align-items: center;

     }
 
     .center-logo{
       margin-left: 0px;
       margin: 0px;
     }
  }
  
  