.button{
  width: 180px;
  height: 40px;
  border-radius: 15px;
  background: var(--primary);
  color: var(--light);
  border: 1px solid #8a8383;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover{
  background: #1f1e1e;
}
.button:active{
  border: 1px solid var(--primary);

}

.btn-small{

}

.btn-large{

}