.title {
	color: black;
  }
  
  .openbody {
	width: 500px;
	overflow: hidden;
	border: 1px solid #000000;
	animation: openedbody 2s ease-in-out;
  }
  
  @keyframes openedbody {
	from {height: 0px;}
	to {height: 100px;}
  }

.initbody{
	height: 0px;
	overflow: hidden;
}
  
  .closebody {
	width: 500px;
	overflow: hidden;
	border: 1px solid #000000;
	animation: closedbody 2s ease-in; 
	height: 0px;
  }
  
  @keyframes closedbody {
	from {height: 100px;}
	to {height: 0px;}
  }

