@use "../../../../src/app/colors.scss";

.button {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #8224e3;
	border-radius: 4px;
	padding: 20px 70px 20px 70px;
	cursor: pointer;
	color:#8224e3;
	background: transparent;
	border: 1px solid #8224e3; 
	height: 54px;
	width: 247px;


}

.button:hover{
	background: #8224e3;
	color: white;
}
