 
@font-face {
	src: url('../../../assets/Montserrat-VariableFont_wght.ttf');
	font-family: 'Montserrat-VariableFont';
}

.menuBarjolders {
	width: 100%;
	height: 85px;
	background: black;
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 20px;

}

.logoMenuBarjolders {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Montserrat-VariableFont';
	

	img {
		height: 80px;
		width: 187px;
		margin-right: 85px;
		padding: 9px 0 10px;
	}
}

.optionsMenuBarjolders {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0px;
	justify-content: flex-start;
	align-items: center;

	a {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		color: #D19FE8;
		padding: 0px 12px;
		border-radius: 4px;
		background-color: transparent;
		transition: background-color 0.2s ease;
		

		&:hover,
		&.active {
			color: white;
			background-color: #8224E3;
		}
	}
}

@media screen and (max-width: 364px){
	
	.menuBarjolders {


	}

	.logoMenuBarjolders{


	}


	.optionsMenuBarjolders{


	}
}


