
@font-face {
	src: url('../../../../../assets/Montserrat-ExtraBold.ttf');
	font-family: 'Montserrat-ExtraBold';
}
@font-face {
	src: url('../../../../../assets/OpenSans_SemiCondensed-Light.ttf');
	font-family: 'OpenSans_SemiCondensed-Light';
}

.section-Rocket {
	background-color: black;
	color: white;
	margin-bottom: 110px;
  }

  .empowerment{
	text-align: center;
	padding: 40px;
	font-family: 'OpenSans_SemiCondensed-Light';
	font-size: 35px;
    line-height: 24px;
    letter-spacing: 0px;
	font-weight: 100;
  }

.Title-Market{
	text-align: center;
	font-size: 52px;
	font-weight: 700;
	font-family: 'Montserrat-ExtraBold';
	padding: 30px;
	background: linear-gradient(90deg, #a9a3db 5%,#ad00ed 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.IconRocket{
	align-items: center;
	text-align: center;
	
	
  }
  .grid-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  }
  

  @media screen and (max-width: 364px){
	.section-Rocket{
	   align-items: center;
	   text-align: center;
	   margin-bottom: 50px;
	}
	.Title-Market{
		display: flex;
		justify-content: center;
		text-align: center;
	   font-size: 25px;
	   padding: 8px;
	}
	.IconRocket{
	   align-items: center;
	}
	.empowerment{
	   font-size: 18px;
	   padding: 20px;
	}
	.grid-icon{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 10px;
		align-items: center;
		justify-items: center;
	}
  }
 
  
  
  @media screen and (min-width: 365px) and (max-width: 576px){
	 
	.section-Rocket{
		align-items: center;
		text-align: center;
		margin-bottom: 50px;
	 }
	 .Title-Market{
		 display: flex;
		 justify-content: center;
		 text-align: center;
		font-size: 28px;
		padding: 8px;
	 }
	 .IconRocket{
		align-items: center;
	 }
	 .empowerment{
		font-size: 18px;
		padding: 20px;
	 }
	 .grid-icon{
		 display: grid;
		 grid-template-columns: 1fr;
		 grid-template-rows: repeat(4, 1fr);
		 gap: 10px;
		 align-items: center;
		 justify-items: center;
	 }


  }
  
  
  @media screen and (min-width: 577px) and (max-width: 600px){
	  
	.section-Rocket{
		align-items: center;
		text-align: center;
		margin-bottom: 50px;
	 }
	 .Title-Market{
		 display: flex;
		 justify-content: center;
		 text-align: center;
		font-size: 32px;
		padding: 8px;
	 }
	 .IconRocket{
		align-items: center;
	 }
	 .empowerment{
		font-size: 22px;
		padding: 20px;
	 }
	 .grid-icon{
		 display: grid;
		 grid-template-columns: repeat(2, 1fr);
		 grid-template-rows: repeat(2, 1fr);
		 gap: 30px;
		 align-items: center;
		 justify-items: center;
	 }


  }

  
  
  @media screen and (min-width: 601px) and (max-width: 999px){
	.section-Rocket{
		align-items: center;
		text-align: center;
		margin-bottom: 50px;
	 }
	 .Title-Market{
		 display: flex;
		 justify-content: center;
		 text-align: center;
		font-size: 32px;
		padding: 8px;
	 }
	 .IconRocket{
		align-items: center;
	 }
	 .empowerment{
		font-size: 22px;
		padding: 20px;
	 }
	 .grid-icon{
		 display: grid;
		 grid-template-columns: repeat(2, 1fr);
		 grid-template-rows: repeat(2, 1fr);
		 gap: 10px;
		 align-items: center;
		 justify-items: center;
		 
	 }
  }

  @media screen and (min-width: 1000px) and (max-width: 1440px){
	.section-Rocket{
		align-items: center;
		text-align: center;
		margin-bottom: 50px;
	 }
	 .Title-Market{
	
		font-size: 32px;
		padding: 8px;
	 }
	 .IconRocket{
		align-items: center;
	 }
	 .empowerment{
		font-size: 22px;
		padding: 20px;
	 }
	 .grid-icon{
		 display: grid;
		 grid-template-columns: repeat(2, 1fr);
		 grid-template-rows: repeat(2, 1fr);
		 gap: 10px;
		 align-items: center;
		 justify-items: center;
		//  width: 200px;
	 }
  }
  
  