@font-face {
	src: url('../../../assets/Poppins-Bold.ttf');
	font-family: 'Poppins-Bold';
}



.set-interval {
	font-family: 'Poppins-Bold';
	color: #ffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 1px solid white;
	background: rgba(243, 118, 118, 0.62);
	width: 68px;
    height: 18px;
	font-size: 12px;
  }
  

  