
@font-face {
	src: url('../../../../../assets/Montserrat-ExtraBold.ttf');
	font-family: 'Montserrat';
}
@font-face {
	src: url('../../../../../assets/OpenSans_SemiCondensed-Light.ttf');
	font-family: 'OpenSans_SemiCondensed-Light';
}
.faq-component{
	background-color: black;
	color: #FFFFFF;
	margin-bottom: 110px;
}


.faq-section-components {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
  }

.faq-title{
	font-family: 'Montserrat',sans-serif;
	font-size: 42px;
	color:#FFFFFF;
	margin: 20px;
    line-height: 42px;
    letter-spacing: -.5px;
}

.faq-subtitle{
	font-size: 26px;
	color:#FFFFFF;
	font-family: 'OpenSans_SemiCondensed-Light';
	margin-bottom: 20px;
    line-height: 34px;
    letter-spacing: 0px;
}

.title-inversor{
	font-family: 'Montserrat',sans-serif;
	font-weight: 500;
	font-size: 26px;
    line-height: 36px;
    letter-spacing: 0px;
	margin: 0px 0px 40px 0px;
}

.section-paragraph{
	width: 440px;
	align-items: center;
	font-family: 'OpenSans_SemiCondensed-Light';
	font-weight: 400;
	font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
	
}

.faq-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 140px; 
	margin-left: 70px;
	margin-top: 65px;
	margin-right: 130px;
	// align-items: center;
  }

.section-map{
	width: 283px;
	margin-left: 10px;
	// align-items: start;
}

.botton-answer{
	text-align: center;
}


@media screen and (max-width: 364px){
   .faq-component{
	    display: none;
}	

}


@media screen and (min-width: 365px) and (max-width: 480px){
    .faq-component{
	    display: none;
}
}


@media screen and (min-width: 481px) and (max-width: 600px){
	.faq-component{
		display: none;
	}	
}

@media screen and (min-width: 601px) and (max-width: 1024px){
	.faq-component{
		display: none;
	}	
}