.container-login-page{
  background-color: black;
}

.section-global{
  padding-left: 150px;
  padding-right: 150px;
}



@media screen and (max-width: 364px){
	
}
@media screen and (max-width: 480px){
	
}

@media screen and (max-width: 800px){
	
}